.main {
  padding: 0 1rem;
  display: grid;
  grid-template-columns: 37% auto;
  align-content: flex-start;
  max-width: 1500px;
  margin: 0 auto;

  &__image {
    height: auto;
    width: 100%;
    object-fit: contain;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 1rem;

    &__title {
      width: 100%;
      margin: 0;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--text-color-1);
      }
    }
    &__desc {
      padding-left: 0.5rem;
    }
    &__by {
      width: 100%;
      padding-left: 0.5rem;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--text-color-1);
      }
    }
    &__actions {
      width: 100%;
      text-align: right;
      margin-top: auto;

      a {
        padding: 0.5rem 1rem;
        font: inherit;
        font-weight: 600;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--text-color-1);
        background-color: var(--secondary-color);
        border-radius: 0.25rem;
        border: 1px solid var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 500px) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    * {
      text-align: center !important;
    }
  }
}

.slider__container {
  width: 85vw;
  max-width: 1400px;
  margin: 2rem auto 0;
}

.slider__title {
  margin-bottom: 0;
  font-weight: 400;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-color-1);
  }
}
.slider {
  --size: 13ch;
  --gap: 2rem;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--size);
  gap: calc(var(--gap) / 2);
  padding-inline: var(--gap);
  padding-block-end: calc(var(--gap) * 2);

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scroll-padding-inline-start: var(--gap);

  &__item {
    scroll-snap-align: start;

    display: grid;
    place-items: center;
    gap: inherit;
    margin: 0;

    text-align: center;
    border-radius: 0.25rem;
    position: relative;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.006),
      0 6.7px 5.3px rgba(0, 0, 0, 0.008), 0 12.5px 10px rgba(0, 0, 0, 0.01),
      0 22.3px 17.9px rgba(0, 0, 0, 0.012), 0 41.8px 33.4px rgba(0, 0, 0, 0.014),
      0 100px 80px rgba(0, 0, 0, 0.02);

    &:last-child::after {
      content: '';
      position: absolute;
      width: var(--gap);
      height: 100%;
      right: calc(var(--gap) * -1);
      inline-size: var(--gap);
      block-size: 100%;
      inset-block-start: 0;
      inset-end: calc(var(--gap) * -1);
    }
  }
}
