.main {
  width: 100%;
  padding: 0 5vmin;

  &__title {
    font-weight: 400;
    border-bottom: 1px solid var(--text-color-1);
  }

  &__form {
    padding: 0.75rem;
    &__item {
      margin-bottom: 1rem;
      input,
      textarea {
        resize: vertical;
        border: none;
        border-bottom: 2px solid var(--text-color-1);
        border-radius: 0;
        outline: 1px solid transparent;
        outline-offset: 0;

        width: 100%;
        appearance: none;
        font: inherit;
        font-size: 1.1rem;

        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.003),
          0 6.7px 5.3px rgba(0, 0, 0, 0.004), 0 12.5px 10px rgba(0, 0, 0, 0.005),
          0 22.3px 17.9px rgba(0, 0, 0, 0.006),
          0 41.8px 33.4px rgba(0, 0, 0, 0.007), 0 100px 80px rgba(0, 0, 0, 0.01);
        transition: border-bottom-color 0.3s ease;

        &:focus,
        &:hover {
          transition: none;
          border-bottom-color: black;
        }
      }
      label {
        display: block;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
      }
      small {
        color: rgb(201, 0, 0);
        font-size: 0.8rem;
      }
    }
    &__actions {
      display: block;
      text-align: right;

      button {
        font: inherit;
        font-size: 1rem;
        letter-spacing: 0.25px;
        text-transform: uppercase;

        appearance: none;
        border-radius: 0.25rem;
        border: 1px solid var(--text-color-1);
        background-color: transparent;
        padding: 0.25rem 1rem;
        margin-block: 0;
        cursor: pointer;
        margin: 0 0.25rem;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.006),
          0 6.7px 5.3px rgba(0, 0, 0, 0.008), 0 12.5px 10px rgba(0, 0, 0, 0.01),
          0 22.3px 17.9px rgba(0, 0, 0, 0.012),
          0 41.8px 33.4px rgba(0, 0, 0, 0.014), 0 100px 80px rgba(0, 0, 0, 0.02);

        transition: background-color 0.3s ease, color 0.3s ease;

        &:first-of-type {
          background-color: var(--secondary-color);
          color: var(--text-color-1);
          border-color: var(--secondary-color);
        }

        &:hover,
        &:focus {
          transition: none;
          &:first-of-type {
            background-color: transparent;
            color: var(--text-color-2);
          }
          &:last-of-type {
            background-color: var(--secondary-color);
            color: var(--text-color-1);
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    *:not(input, textarea) {
      text-align: center;
    }
  }
}
