.main {
  max-width: 100%;
  padding-left: 0.5rem;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &:first-of-type {
    border-bottom: 1px solid var(--text-color-1);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 100%;
    width: 100%;
    border-bottom: 1px solid var(--text-color-1);

    h2 {
      font-weight: 400;
    }

    button {
      $size: 2.5rem;
      inline-size: $size;
      block-size: $size;
      border: none;
      outline: none;
      border-radius: 50%;
      background-color: transparent;
      cursor: pointer;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      transition: background-color 0.3s ease;

      & > svg {
        width: 75%;
        height: auto;
        opacity: 0.7;
        transition: opacity 0.3s ease;
      }

      &:hover,
      &:focus {
        background-color: hsl(0, 0%, 50%, 0.2);
        transition: none;

        svg {
          transition: none;
          opacity: 1;
        }
      }
    }
  }
}
