:root {
  --hsl: 150;
  //             hsl(hue, saturation%, lightness%)
  --text-color-1: hsl(var(--hsl), 20%, 90%);
  --text-color-2: hsl(var(--hsl), 20%, 15%);
  --text-color-3: hsl(var(--hsl), 20%, 25%);
  --secondary-color: hsl(var(--hsl), 20%, 10%);
  --surface-color-2: hsl(var(--hsl), 5%, 98%);
}

* {
  box-sizing: border-box;
  line-height: 1.75;
}
html {
  block-size: 100%;
  inline-size: 100%;
}
body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.container {
  max-inline-size: 95vw;
  max-inline-size: clamp(5rem, 95vw, 1500px);

  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pagination {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;

  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02),
    0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 12.5px 10px rgba(0, 0, 0, 0.035),
    0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 41.8px 33.4px rgba(0, 0, 0, 0.05),
    0 100px 80px rgba(0, 0, 0, 0.07);

  li {
    display: inline-flex;
  }
  a {
    cursor: pointer;
    margin: 0;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: relative;

    &:hover,
    &:focus {
      background-color: var(--secondary-color);
      color: var(--text-color-1);
      transition: none;
    }
  }
  .selected a {
    background-color: transparent;
    color: var(--secondary-color);
    &:hover {
      background-color: transparent;
      color: var(--secondary-color);
    }
    &::after {
      $size: 2.25rem;
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -47%, 0);
      width: $size;
      height: $size;
      border-radius: 50%;
      border: 1px solid var(--secondary-color);
    }
  }
  .next a,
  .previous a {
    color: var(--text-color-1);
    font: inherit;
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--secondary-color);
  }
}

.slider {
  --size: 16ch;
  --gap: 2rem;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--size);
  gap: calc(var(--gap) / 2);
  padding-inline: var(--gap);
  padding-block-end: calc(var(--gap) * 2);

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scroll-padding-inline-start: var(--gap);
  width: 100%;
  position: relative;

  &__item {
    scroll-snap-align: start;

    display: grid;
    place-items: center;
    gap: inherit;
    margin: 0;

    text-align: center;
    border-radius: 0.25rem;
    position: relative;
    user-select: none;
    padding: 0.5rem;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.006),
      0 6.7px 5.3px rgba(0, 0, 0, 0.008), 0 12.5px 10px rgba(0, 0, 0, 0.01),
      0 22.3px 17.9px rgba(0, 0, 0, 0.012), 0 41.8px 33.4px rgba(0, 0, 0, 0.014),
      0 100px 80px rgba(0, 0, 0, 0.02);

    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: hsl(0, 0%, 50%, 0.2);
      transition: none;
    }

    &:last-child::after {
      content: '';
      position: absolute;
      width: var(--gap);
      height: 100%;
      right: calc(var(--gap) * -1);
      inline-size: var(--gap);
      block-size: 100%;
      inset-block-start: 0;
      inset-end: calc(var(--gap) * -1);
    }
  }

  &--empty {
    width: 100%;
    text-align: center;
  }
}
