:root {
  --hsl: 150;
  //             hsl(hue, saturation%, lightness%)
  --text-color-1: hsl(var(--hsl), 20%, 90%);
  --secondary-color: hsl(var(--hsl), 20%, 10%);
}

* {
  box-sizing: border-box;
  line-height: 1.75;
}
html {
  block-size: 100%;
  inline-size: 100%;
}
body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
